User SignUp

<br><br>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  User Name
  <input type="text" class="form-control" name="username" placeholder="Username" #username="ngModel"
    [ngClass]="{'is-invalid': username.errors && username.touched}" [(ngModel)]="user.username" minlength="4" required>
  <div style="color:red" [hidden]="!username.errors?.required" class="invalid-feedback">
    Username required
  </div>
  <div style="color:red" [hidden]="!username.errors?.minlength" class="invalid-feedback">
    Must be atleast 4 characters
  </div><br><br>
  Password
  <input type="password" class="form-control" name="password" placeholder="Password" #password="ngModel"
    [ngClass]="{'is-invalid': password.errors && password.touched}" [(ngModel)]="user.password" minlength="4" required>
  <div style="color:red" [hidden]="!password.errors?.required" class="invalid-feedback">
    Password required
  </div>
  <div style="color:red" [hidden]="!password.errors?.minlength" class="invalid-feedback">
    Must be atleast 4 characters
  </div><br><br>
  Email
  <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel"
    [ngClass]="{'is-invalid': email.errors && email.touched}" [(ngModel)]="user.email"
    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
    required>
  <div style="color:red" [hidden]="!email.errors?.required" class="invalid-feedback">
    Email required
  </div>
  <div style="color:red" [hidden]="!email.errors?.pattern" class="invalid-feedback">
    Email is invalid
  </div><br><br>
  <input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>


