<br><br>
<hr>
<br>


<a routerLink="/create-sector" class="btn btn-primary">Add New Sector</a>
<br>


<table  class="table table-striped">
  <caption><h2>List Of Sectors</h2></caption>
  <thead class="thead-inverse thead-dark">
  <tr>
    <th>Sector Name</th>
    <th>Description</th>
    <th>Edit Record</th>
    <th>Delete Record</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sector of sectors">
    <td>{{ sector.name }}</td>
    <td>{{ sector.description }}</td>
    <td>
      <a routerLink="/editsector/{{sector.id+''}}" class="btn btn-secondary btn-sm">
        <i class="fa fa-pencil"></i> Edit
      </a>
    </td>
    <td>
      <button (click)="onDeleteClick(sector.id+'')" class="btn btn-secondary btn-sm">
        <i class="fa fa-trash"></i> Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #noSectors>
  <h5>There are no sectors in the system.</h5>
</ng-template>
